---
title: Events
layout: Portal
---

<%= partial "prototypes/community-portal/partials/com-portal-selector" %>
<div class="container uMarginTm">

<!-- <div class="text-center uMarginBs hidden">
    <a href="#">Show Filters <i class="material-icons">arrow_drop_down</i></a>
</div> -->

<h2 class="visible-xs uFontSizeH3">Events</h2>

<!-- Heading & Filters -->
<!-- <div class="row hidden-xs">
    <div class="col-xs-1">
        <h2>Events</h2>
    </div>
    <div class="col-xs-2 col-xs-offset-3">
        <span class="bold pull-right"></span>
    </div>
    <div class="col-xs-2 form-group">
        <label for="">Date</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
    <div class="col-xs-2 form-group">
        <label for="">Invitee</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
    <div class="col-xs-2 form-group">
        <label for="">Status</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
</div> -->

<!-- Heading & Filters -->
<div class="row hidden-xs form-inline">
    <div class="col-xs-1">
        <h2>Events</h2>
    </div>
    <div class="col-xs-11">
    <div class="pull-right">
        <div class="form-group">
            <label for="" style="width: 60px;" class="uPaddingTxxs uMarginRxs text-right">Date</label>
            <select class="form-control pull-right" style="width: 130px;">
                <option></option>
            </select>
        </div>
        <div class="form-group">
             <label for="" style="width: 60px;" class="uPaddingTxxs uMarginRxs text-right">Invitee</label>
            <select class="form-control pull-right" style="width: 130px;">
                <option>Aden Abbot</option>
            </select>
        </div>
        <div class="form-group">
             <label for="" style="width: 60px;" class="uPaddingTxxs uMarginRxs text-right">Status</label>
            <select class="form-control pull-right" style="width: 130px;">
                <option>Attending</option>
            </select>
        </div>
    </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        
        <!-- Desktop Header -->
        <div class="row hidden-xs uBorderBottom1 text-muted bold">
            <div class="col-xs-2">
                Description
            </div>
            <div class="col-xs-2">
                Date
            </div>
            <div class="col-xs-1">
                Status
            </div>
            <div class="col-xs-2">
                Invitee
            </div>
            <div class="col-xs-1">
                Price
            </div>
            <div class="col-xs-1">
                Amount Paid
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <!-- Desktop View -->
        <%= partial "prototypes/community-portal/partials/event-row-desktop" %>
        <%= partial "prototypes/community-portal/partials/event-row-desktop" %>
        <%= partial "prototypes/community-portal/partials/event-row-desktop" %>
        <%= partial "prototypes/community-portal/partials/event-row-desktop" %>

        <!-- Mobile View -->
        <%= partial "prototypes/community-portal/partials/excursion-row-mobile-waiting" %>
        <%= partial "prototypes/community-portal/partials/excursion-row-mobile-pending" %>
        <%= partial "prototypes/community-portal/partials/excursion-row-mobile" %>
        <%= partial "prototypes/community-portal/partials/excursion-row-mobile-apology" %>



    </div>
</div>

</div>

<script>
    $('.jsMoreContent').hide();
    $('.jsMoreTrigger').click(function(ev) {
      var t = ev.target
      $('#info' + $(this).attr('target')).slideToggle(90, function() {
        $(t).html($(this).is(':visible') ? 'Hide' : 'Details')
      });
      return false;
    });
</script>