<!doctype html>
<html id="documentation">

<head>
    <%= partial "partials/headImports" %>
</head>
  
  <body class="<%= page_classes %>">
  
  <header>
      <%= partial "partials/header" %>
  </header>

  <div class="container">
    <div class="row">

        <!-- Sidebar Navigation -->
        <nav class="sidebar col-xs-12 col-sm-2">
          <%= partial "partials/sidenav" %>
        </nav>
      
        <!-- Main content -->
        <main class="mainContent col-xs-12 col-sm-8">
          <%= yield %>
        </main>
    </div>
    
  </div>

  </body>


</html>

