<h2>Modals</h2>

<!-- Basic modal -->
<h3>Basic modal:</h3>
<!-- Modal example -->
<%= partial "partials/modals/modal-basic" %>
<br>
<br>
<!-- Modal Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/modals/modal-basic" %>
<% end %>
</div>


<!-- Modal with tabs and icons -->
<h3 class="uBorderTop2">Modal with tabs and icons:</h3>
<!-- Modal example -->
<%= partial "partials/modals/modal-tabs" %>
<br>
<br>
<!-- Modal Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/modals/modal-tabs" %>
<% end %>
</div>


<!-- Uploader Modal -->
<h3 class="uBorderTop2">Uploader modal:</h3>
<!-- Modal example -->
<%= partial "partials/modals/modal-uploader" %>
<br>
<br>
<!-- Modal Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/modals/modal-uploader" %>
<% end %>
</div>


<!-- Complex Uploader Modal -->
<h3 class="uBorderTop2" id="multi-uploader-modal">Multi uploader modal:</h3>
<!-- Modal example -->
<%= partial "partials/modals/modal-uploader-class" %>
<br>
<br>
<!-- Modal Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/modals/modal-uploader-class-example" %>
<% end %>
</div>


<!-- Modal with tabs and icons -->
<h3 class="uBorderTop2">Modal with tabs 2:</h3>
<!-- Modal example -->
<%= partial "partials/modals/modal-tabs-2" %>
<br>
<br>
<!-- Modal Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/modals/modal-tabs-2" %>
<% end %>
</div>