<h2>Progress &amp; Feedback</h2>

<!-- Inputs: Example -->
<%= partial "partials/input-validation/input-loader" %>
<%= partial "partials/input-validation/input-checked" %>
<%= partial "partials/input-validation/input-error" %>

<!-- Inputs: Code -->
<% code("html") do %>
<%= partial "partials/input-validation/input-loader" %>
<% end %>

<!-- Panel with loader: Example -->
<%= partial "partials/input-validation/loading-panel" %>

<!-- Panel with loader: Code-->
<% code("html") do %>
<%= partial "partials/input-validation/loading-panel" %>
<% end %>

<!-- File uploader -->