<style>

.panel-body {
    height: 100px;
}

</style>

<h2>Inline validation for forms</h2>
<%= partial "partials/input-validation/input-loader" %>
<%= partial "partials/input-validation/input-checked" %>
<%= partial "partials/input-validation/input-error" %>


<!-- Input with loader: Code-->
<div class="codeOnly">
<% code("html") do %>
<%= partial "partials/input-validation/input-loader" %>
<%= partial "partials/input-validation/input-checked" %>
<%= partial "partials/input-validation/input-error" %>
<% end %>
</div>