<!-- Could this partial be renamed index? -->

<nav>
    <div class="sideNav list-group">
        
        <%= link_to 'Forms Controls', '/pages/form-controls.html', :class => 'list-group-item' %>
        <%= link_to 'Forms Attributes', 'form-attributes.html', :class => 'list-group-item' %>
        <%= link_to 'Form Validation', 'form-validation.html', :class => 'list-group-item' %>
        <%= link_to 'Navigation', '/pages/navigation.html', :class => 'list-group-item' %>
        <%= link_to 'Buttons', '/pages/buttons.html', :class => 'list-group-item' %>
        <%= link_to 'Modals', '/pages/modals.html', :class => 'list-group-item' %>
        <%= link_to 'Progress &amp; Feedback', '/pages/progress-feedback.html', :class => 'list-group-item' %>
        <%= link_to 'Emails', '/pages/emails.html' , :class => 'list-group-item' %>
        <%= link_to 'Tooltips &amp; Popovers', '/pages/tooltips-popovers.html', :class => 'list-group-item' %>
        <%= link_to 'Payment', '/pages/payment.html', :class => 'list-group-item' %>
        <%= link_to 'Blank Slate', '/pages/blank-slate.html', :class => 'list-group-item' %>
        <%= link_to 'Grids', '/pages/grids.html', :class => 'list-group-item' %>
        <%= link_to 'Layout', '/pages/pageLayout.html', :class => 'list-group-item' %>
        <%= link_to 'Widgets', '/pages/widgets/widgets.html', :class => 'list-group-item' %>
        <br>
        <%= link_to 'CSS Standards', '/pages/css-standards.html', :class => 'list-group-item' %>
        <%= link_to 'Tools &amp; Frameworks', '/pages/tools-and-frameworks.html', :class => 'list-group-item' %>
        <%= link_to 'Visual Design', '/pages/visual-design.html', :class => 'list-group-item' %>
        <%= link_to 'Accessibility', '/pages/accessibility.html' , :class => 'list-group-item' %>
        <%= link_to 'Prototypes', '/prototypes.html' , :class => 'list-group-item' %>

    </div>
</nav>

