<table class="table md-14">
    <thead>
        <tr> 
            <th>File type</th>
            <th>Class</th>
            <th>Description</th>
            <th class="text-center">Report</th>
            <th class="text-center">Email</th>
            <th class="text-center">SMS</th>
            <th class="text-center">Results</th>
            <th></th>
        </tr> 
    </thead>

    <tbody>
        <tr> 
            <td>A</td>
            <td>S/11MAN2C</td>
            <td>VCE Business Management Unit 1</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>VC22F</td>
            <td>Visual Communication 3&amp;4</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>LANG33</td>
            <td>Spanish</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>MATH445</td>
            <td>General Mathematics</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>MUS66</td>
            <td>Music</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>IT/112C</td>
            <td>Information Technology</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>A</td>
            <td>GEO/555</td>
            <td>Geography</td>
            <td class="text-center"><%= partial "partials/navigation/report-menu" %></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

    </tbody> 
</table>
