<style>
    a {
        text-decoration: underline;
    }
</style>

<table class="table md-14">
    <thead>
        <tr> 
            <th>File type</th>
            <th>Class</th>
            <th></th>
            <th class="text-center">Report</th>
            <th class="text-center">Email</th>
            <th class="text-center">SMS</th>
            <th class="text-center">Results</th>
        </tr> 
    </thead>

    <tbody>
        <tr> 
            <td>A</td>
            <td colspan="2"><a href="#">S/11MAN2C <span class="uMarginLs">VCE Business Management Unit 1</span></a></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td><a href="#">VC22F Visual Communication 3&amp;4</a></td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td>LANG33</td>
            <td>Spanish</td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td>MATH445</td>
            <td>General Mathematics</td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td>MUS66</td>
            <td>Music</td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td>IT/112C</td>
            <td>Information Technology</td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

        <tr> 
            <td>A</td>
            <td>GEO/555</td>
            <td>Geography</td>
            <%= partial "prototypes/dashboard/partials/classes-grid-icons" %>
        </tr>

    </tbody> 
</table>
