<table class="table md-14">
    <thead>
        <tr> 
            <th>Date</th>
            <th>Student / Parent</th>
            <th>Class</th>
            <th>PTI Request</th>
            <th class="text-center">Report</th>
            <th>Notes</th>
            <th></th>
        </tr> 
    </thead>

    <tbody>
        <tr> 
            <td>06/10/14<span class="uMarginLxs">4:00pm</span></td>
            <td>Adamski, Angelo (S11, A)</td>
            <td>10&nbsp;HISD</td>
            <td><span class="text-success bold">Requested</span></td>
            <td class="text-center"><a href="#"><%= partial "partials/navigation/report-menu" %></a></td>
            <td><i class="material-icons pull-left">mode_edit</i>
            </td>

            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr>
            <td>06/10/14<span class="uMarginLxs">4:30pm</span></td>
            <td>Agnew, Dakota (S9, B) <br>
                Mr Frederico Agnew (Father) <br>
                Mrs Fern Agnew (Mother)
            </td>
            <td>10&nbsp;HISD</td> 
            <td><span class="text-success bold">Requested</span></td>
            <td class="text-center"><!-- Button trigger modal -->
                <%= partial "partials/navigation/report-menu" %></a></td>
            <td><i class="material-icons pull-left">mode_edit</i><span class="badge pull-right">1</span></a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>06/10/14<span class="uMarginLxs">5:00pm</span></td>
            <td>Musgrove, Cameron (Cam) (S10, B) <br>
                Mrs Genevieve Mayweather (Gen) (Mother)
            </td>
            <td>10&nbsp;HISD</td>
            <td></td>
            <td class="text-center"><a href="#"><%= partial "partials/navigation/report-menu" %></a></td>
            <td><i class="material-icons pull-left">mode_edit</i> <span class="badge uMarginRxxs">2</span></a></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>

        <tr> 
            <td>06/10/14<span class="uMarginLxs">5:30pm</span></td>
            <td>Newton, Felica (Licia) (S10, B) <br>
                Mr Marvin Marshall <br>
                Mrs Markia Marshall
            </td>
            <td>10&nbsp;HISD</td>
            <td><span class="text-danger bold">Not Req.</span></td>
            <td class="text-center"><a href="#"><%= partial "partials/navigation/report-menu" %></a></td>
            <td><i class="material-icons pull-left">mode_edit</i></td>
            <td><%= partial "partials/navigation/more-menu" %></td>
        </tr>


    </tbody> 
</table>


