<table class="table">
    <thead>
        <tr>
            <th class="text-center">Cancel</th> 
            <th>Date</th>
            <th>Time</th>
            <th>Period</th>
            <th>Room</th>
            <th>Class</th>
            <th>Description</th>
            <th>Staff</th>
            <th class="text-center">Pastoral</th>
            <th class="text-center">Attendance</th>
            <th></th>
        </tr> 
    </thead>
    <tbody>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>01/05/2016</td>
            <td>8:35am</td>
            <td>Period 1</td>
            <td>4555/28</td>
            <td>J/04MATH</td>
            <td>Mathematics</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>01/05/2016</td> 
            <td>9:30am</td>
            <td>Period 2</td>
            <td>4555/28</td>
            <td>02MUS</td>
            <td>Music</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>01/05/2016</td> 
            <td>11:20am</td>
            <td>Period 3</td>
            <td>4555/28</td>
            <td>R/0PER</td>
            <td>Performing Arts</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>01/05/2016</td> 
            <td>2:25pm</td>
            <td>Period 5</td>
            <td>22A</td>
            <td>34GEO</td>
            <td>Geography</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>01/05/2016</td> 
            <td>3:30pm</td>
            <td>Period 6</td>
            <td>Kitchen</td>
            <td>J/04ARTC</td>
            <td>Hospitality</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>24/01/2016</td> 
            <td>2:25pm</td>
            <td>Period 5</td>
            <td>22A</td>
            <td>34GEO</td>
            <td>Geography</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
        <tr>
            <td class="text-center text-danger"><i class="material-icons md-16">remove_circle</i></td>
            <td>20/01/2016</td> 
            <td>3:30pm</td>
            <td>Period 6</td>
            <td>Kitchen</td>
            <td>J/04ARTC</td>
            <td>Hospitality</td>
            <td>ABDSQL</td>
            <td class="text-center">
                <a href="#"><i class="material-icons md-16 colorBlue">open_in_new</i></a>
            </td>
            <td class="text-center"><i class="material-icons colorGrey">person_outline</i> <a href="#" class="linkStyle">Mark</a></td>
            <td>
                <a href="">
                    <%= partial "partials/navigation/more-menu" %>
                </a>
            </td>
        </tr>
    </tbody> 
</table>
